<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>New Dividend Payout</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/basic.css">
</head>
<body>
    <h2> New Dividend Payout</h2>
    
    <form method="POST" action="/dividendpayouts">
    <table border=1 class="sortable">
        <tr>
            <td>Account ID</td>             
            <td>
            <select id="myComboBox" name="accountId">
                <option th:each="option : ${allAccounts}" th:value="${option}" th:text="${option}"></option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Stock Symbol</td> 
            <td><input type="text" name="stockSymbol" size="80" style="text-transform:uppercase" required/></td>
        </tr>
        
        <tr>
            <td>Stock Quantity</td> 
            <td><input type="text" name="currentStockQuantity" size="80" required/></td>
        </tr>
        
        <tr>
            <td>Stock Price</td> 
            <td><input type="text" name="currentStockPrice" size="80" required/></td>
        </tr>
        
        <tr>
            <td>Current Yield</td> 
            <td><input type="text" name="currentYield" size="80"/></td>
        </tr>

        <tr>
            <td>Payout Amount</td> 
            <td><input type="text" name="payoutAmount" size="80"/></td>
        </tr>
                        
        <tr>
            <td>Payout Date</td> 
            <td><input type="text" name="payoutDate" size="80"/></td>
        </tr>
                        
        <tr>
            <td>Dividend Frequency</td> 
            <td>
                 <select id="dividendFrequency" name="dividendFrequency">
                    <option value="Weekly">Weekly</option>
                    <option value="4-Week">4-Week</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                 </select>
            </td>
        </tr>
                     
        <tr/><tr/><tr/><tr/><tr/>
        <tr>
            <td colspan="3"><input name="Add New Payout" value="submit" type="submit"></input></td> 
        </tr>
                
    </table>
            
</body>
</html>
