<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">

  <parameter name="titleExpected" value="The Internet"/>
  <parameter name="ablink" value="https://the-internet.herokuapp.com/abtest"/>
  <parameter name="checkboxlink" value="https://the-internet.herokuapp.com/checkboxes"/>
  <test name="modelTests">
    <classes>
      <class name="com.mine.tradechamp.model.ModelTesting"/>
    </classes>
  </test> 

</suite> 
