<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>All Dividends history</title> 
    <link th:href="@{/styles/navigationMenu.css}" rel="stylesheet" />
    <link th:href="@{/styles/tableDisplay.css}" rel="stylesheet" />
    <link th:href="@{/styles/verticalBar.css}" rel="stylesheet" />
</head>
<body>
    
    <div style="padding-left:60px">
        <h2> All Dividend Announcement history</h2>
    </div>
    
    <div style="padding-left:60px">
        <input type="button" onclick="location.href='/dividendannouncements/add';" value="Add New Dividend" />
    </div> 
        
    <div style="padding-left:60px">
        
    <table border=1 class="sortable">
          <tr>
          <th>DividendPay ID</th>
          <th>Stock Symbol</th>
          <th>Declared Amount</th> 
          <th>Declared Date</th>
          <th>Ex-Dividend Date</th>
          <th>Pay Date</th>
          <th>Dividend Frequency</th>
      </tr>
          <tr th:each="dividend : ${allDividendAnnouncements}"> 
            <td th:text="${dividend.id}">1</td> 
            <td th:text="${dividend.stockSymbol}">1</td>
            <td th:text="${dividend.declaredAmount}">1</td>
            <td th:text="${dividend.declaredDate}">1</td>
            <td th:text="${dividend.exDividendDate}">1</td>
            <td th:text="${dividend.payDate}">1</td>
            <td th:text="${dividend.dividendFrequency}">1</td>
          </tr>
    </table>
    
    </div>  
</body>
</html>
