<!DOCTYPE html>
<html>
<head> 
    <title>All Accounts</title> 
    <link th:href="@{/styles/navigationMenu.css}" rel="stylesheet" />
    <link th:href="@{/styles/tableDisplay.css}" rel="stylesheet" />
    <link th:href="@{/styles/verticalBar.css}" rel="stylesheet" />
</head>
<body>
        
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/stockportfolios">Portfolios</a>
      <a href="/dividendpayouts">Dividends</a>
      <a href="/stocktradeorders">Trades</a>
      <a class="active" href="/accounts">Accounts</a>
      <a href="/about">About</a>
    </div>

    <h1> All Accounts</h1>
    
    <table border=1 class="sortable">
          <tr>
          <th>Account ID</th>
          <th>Name</th>
          <th>Owner</th> 
          <th>Account Type</th>
          <th>Broker</th>
          <th>Opened Date</th>
      </tr>
          <tr th:each="account : ${allAccounts}"> 
            <td th:text="${account.accountId}">1</td> 
            <td th:text="${account.accountName}">1</td>
            <td th:text="${account.accountOwner}">1</td>
            <td th:text="${account.accountType}">1</td>
            <td th:text="${account.broker}">1</td>
            <td th:text="${account.openedDate}">1</td>
          </tr>
    </table>
           
    <br> <a href="/" name="Home"> Home</a>    
</body>
</html>
