<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>All Dividends history</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/basic.css">
</head>
<body>
    <h2> All Dividend Announcement history</h2>
    
    <table border=1 class="sortable">
          <tr>
          <th>DividendPay ID</th>
          <th>Stock</th>
          <th>Dividend Amount</th> 
          <th>Ex-Dividend Date</th>
          <th>Pay Date</th>
      </tr>
          <tr th:each="dividend : ${allDividends}"> 
            <td th:text="${dividend.id}">1</td> 
            <td th:text="${dividend.stock}">1</td>
            <td th:text="${dividend.amount}">1</td>
            <td th:text="${dividend.exDividendDate}">1</td>
            <td th:text="${dividend.payDate}">1</td>
          </tr>
    </table>
            
</body>
</html>
