<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/basic.css">
</head>
<body>
    <h2> Greetings and Salutations on April 28th</h2>
    
    <p>
        Message:     
        <b> </i><th:block th:text="${welcomeMessage}"></th:block>  </b> 
    </p>
        
    <p>
    Server IP Address:     
    <b> <th:block th:text="${myIP}"></th:block>  </b> 
    </p>

    <h3>   
        <a href="/"> Main Page </a>
    </h3>
</body>
</html>
