<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/navigationMenu.css}" rel="stylesheet" />
    <link th:href="@{/styles/tableDisplay.css}" rel="stylesheet" />
    <link th:href="@{/styles/verticalBar.css}" rel="stylesheet" />
</head>
<body>

    <div class="topnav">
      <a  class="active" href="/">Home</a>
      <a href="/stockportfolios">Portfolios</a>
      <a href="/dividendpayouts">Dividends</a>
      <a href="/stocktradeorders">Trades</a>
      <a href="/accounts">Accounts</a>
      <a href="/about">About</a>
    </div>

<div style="padding-left:60px">
  <h2></h2>
  
</div>

<ul style="padding-left:60px">
  <li><a href="#home">Overview</a></li>
  <li><a href="#news">Dividends</a></li>
  <li><a href="#contact">Trades</a></li>
  <li><a href="#about">Planning</a></li>
</ul>

</body>
</html>
