<!DOCTYPE html>
<html>
<head> 
    <title>All Stock Portfolios</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/navigationMenu.css}" rel="stylesheet" />
    <link th:href="@{/styles/tableDisplay.css}" rel="stylesheet" />
</head>
<body>
        
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/stockportfolios">Portfolios</a>
      <a href="/dividendpayouts">Dividends</a>
      <a href="/stocktradeorders">Trades</a>
      <a href="/accounts">Accounts</a>
      <a href="/about">About</a>
    </div>

    <h1> </h1>
    <div style="padding-left:16px">
    <table border=1 class="sortable">
          <tr>
          <th>ID</th>
          <th>Account ID</th>
          <th>Stock Symbol</th>
          <th>Stock Name</th> 
          <th>Product Type</th>
          <th>Stock Quantity</th>
          <th>Current Stock Price</th>
          <th>Average Stock Price</th>
          <th>Current Market Cap</th>
          <th>Original Investment</th>
          <th>Drip</th>
          <th>Purchase Date</th>
          <th>Dividend Frequency</th>
          <th>Total Dividends</th>
          <th>Comments</th>
      </tr>

      <tr th:each="stock : ${allStockPortfolios}"> 
            <td th:text="${stock.id}">1</td> 
            <td th:text="${stock.accountId}">1</td> 
            <td th:text="${stock.stockSymbol}">1</td> 
            <td th:text="${stock.stockName}">1</td> 
            <td th:text="${stock.productType}">1</td> 
            <td th:text="${stock.stockQuantity}">1</td> 
            <td th:text="${stock.currentStockPrice}">1</td> 
            <td th:text="${stock.averageStockPrice}">1</td> 
            <td th:text="${stock.currentMarketCap}">1</td> 
            <td th:text="${stock.originalInvestment}">1</td> 
            <td th:text="${stock.drip}">1</td> 
            <td th:text="${stock.purchaseDate}">1</td> 
            <td th:text="${stock.dividendFrequency}">1</td>
            <td th:text="${stock.totalDividendAmount}">1</td>  
            <td th:text="${stock.comments}">1</td> 
          </tr>
    </table>
 
    
</body>
</html>
